@model PhoneStore.Domain.Entities.Cart

    <div class="navbar-right">
        @Html.ActionLink("Заказать", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" })
    </div>

    <div class="navbar-text navbar-right">
        <b>Ваша корзина</b>
        @if (@Model.Lines.Sum(x => x.Quantity) == 1)
        {
            <a>@Model.Lines.Sum(x => x.Quantity) телефон</a>;
        }
        else if (@Model.Lines.Sum(x => x.Quantity) == 0 || @Model.Lines.Sum(x => x.Quantity) > 4)
        {
            <a>@Model.Lines.Sum(x => x.Quantity) телефонов</a>;
        }
        else 
        {
        <a>@Model.Lines.Sum(x => x.Quantity) телефона</a>;
        },
        @Model.ComputeTotalValue().ToString("# грн")
    </div>

